@charset "utf-8";

/*blacker Display*/
/*blacker Display*/
/*blacker Display*/
/*blacker Display*/
@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-Light.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-Regular.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-Medium.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-Bold.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-ExtraBold.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-Heavy.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}




/*blacker Display italic*/
/*blacker Display italic*/
/*blacker Display italic*/
/*blacker Display italic*/
@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerText-Italic.woff') format('woff2'),
    url('../font/blacker/BlackerDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-Italic.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-MediumItalic.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-BoldItalic.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Display';
  src: url('../font/blacker/BlackerDisplay-HeavyItalic.woff2') format('woff2'),
    url('../font/blacker/BlackerDisplay-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}



/*blacker text*/
/*blacker text*/
/*blacker text*/
/*blacker text*/
@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-Light.woff2') format('woff2'),
    url('../font/blacker/BlackerText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-Regular.woff2') format('woff2'),
    url('../font/blacker/BlackerText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-Medium.woff2') format('woff2'),
    url('../font/blacker/BlackerText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-Bold.woff2') format('woff2'),
    url('../font/blacker/BlackerText-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-Heavy.woff2') format('woff2'),
    url('../font/blacker/BlackerText-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



/*blacker text italic*/
/*blacker text italic*/
/*blacker text italic*/
/*blacker text italic*/
@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-LightItalic.woff2') format('woff2'),
    url('../font/blacker/BlackerText-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-Italic.woff2') format('woff2'),
    url('../font/blacker/BlackerText-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-MediumItalic.woff2') format('woff2'),
    url('../font/blacker/BlackerText-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-BoldItalic.woff2') format('woff2'),
    url('../font/blacker/BlackerText-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Blacker Text';
  src: url('../font/blacker/BlackerText-HeavyItalic.woff2') format('woff2'),
    url('../font/blacker/BlackerText-HeavyItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}



/*pretendard*/
/*pretendard*/
/*pretendard*/
/*pretendard*/
@font-face {
  font-family: 'Pretendard';
  src: url('../font/pretendard/Pretendard-Thin.woff2') format('woff2'),
    url('../font/pretendard/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
    url('../font/pretendard/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Pretendard';
  src: url('../font/pretendard/Pretendard-Light.woff2') format('woff2'),
    url('../font/pretendard/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/pretendard/Pretendard-Regular.woff2') format('woff2'),
    url('../font/pretendard/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/pretendard/Pretendard-Medium.woff2') format('woff2'),
    url('../font/pretendard/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Pretendard';
  src: url('../font/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
    url('../font/pretendard/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/pretendard/Pretendard-Bold.woff2') format('woff2'),
    url('../font/pretendard/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
    url('../font/pretendard/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/pretendard/Pretendard-Black.woff2') format('woff2'),
    url('../font/pretendard/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}