@charset "utf-8";

/*1. 표시 display 
2. 넘침 overflow 
3. 흐름 float, clear 
4. 위치 position top, right, bottom, left, z-index 
5. 크기 width & height 
6. 긴격 margin & padding (그룹)
7. 테두리 border (그룹)
8. 배경 background (그룹)
9. 폰트 font(그룹):color, letter-spacing, text-align, text-decoration, textindent, vertical-align, white-space 등 
10. 동작 animation, transform, transition, marquee 등 
11. 기타 - 기타 위에 언급되지 않은 나머지 속성들로 폰트관련 속성 이후에 선언하며, 기타 속성 내의 선언 순서는 무관함.*/

:root {
  --main-color: #A73145;
  --bg-color: #F8F7F3;
  --main-font: 'pretendard', sans-serif;
  --subtxt-font: "Blacker Display", serif;
  --more-font: "Bona nova", serif;
}

body {
  overflow-x: hidden;
  font-family: "Blacker Text", serif;
  color: #232323;
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 400;
}

.inner {
  max-width: 1540px;
  padding: 0 20px;
  margin: 0 auto;
}

#wrap {
  background: #F8F7F3;
}

/*header*/
/*header*/
/*header*/
/*header*/
#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 20px 0;
}

/* 플렉스 준 거에 align-items: center; 주기 */
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .gnb {
  display: flex;
  padding-left: 100px;
  gap: 50px;
}

#header .gnb li {
  position: relative;
}

#header .gnb>li a {
  color: #232323;
  font-size: 1.8rem;
  font-weight: 500;
}

#header .gnb .depth2 {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px;
  width: 144px;
  background: #000;
}

#header .gnb .kr li a {
  font-family: var(--main-font);
}


#header .gnb .depth2 li a {
  display: block;
  padding: 7px;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.5s;
}

#header .gnb .depth2 li:hover a {
  color: var(--main-color);
}

#header .util ul {
  display: flex;
  gap: 20px;
}

#header .util ul li a {
  font-size: 1.4rem;
  color: #232323;
  font-weight: 300;
}

#header .mgnb {
  z-index: 6;
  display: none;
}

#header .mgnb ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

#header .mgnb .btn_cart {
  width: 30px;
  height: 30px;
  background: url(../img/common/ico_cart_b.png) no-repeat center /cover;
  cursor: pointer;
}

#header .mgnb .btn_ham {
  width: 22px;
  height: 18px;
  background: url(../img/common/ico_ham_b.png) no-repeat center /cover;
  cursor: pointer;
}

#header .modal {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #fff;
}

#header .modal::-webkit-scrollbar {
  display: none;
}

#header .modal .modal_head {
  position: relative;
  padding: 20px 0;
  text-align: center;
}

#header .modal_ico {
  display: block;
  position: absolute;
  top: 0;
  left: 0px;
  padding: 25px 20px 0;
}

#header .modal h3 {
  font-weight: 500;
  font-size: 2.0rem;
}

#header .modal_head::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 20px 0;
  height: 1px;
  background: #000;
  opacity: 0.1;
}

#header .modal ol {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  gap: 112px;
}

#header .modal ol li {
  position: relative;
  font-family: var(--subtxt-font);
  font-size: 1.6rem;
}

#header .modal ol li:nth-last-of-type(1)::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: -50px;
  width: 1px;
  height: 13px;
  background: #999;
}

#header .mgnb_list>li {
  padding-bottom: 40px;
  font-weight: var(--subtxt-font);
  font-size: 2.5rem;
  font-weight: 500;
  color: #aaa;
  transition: all 0.5s;
}

#header .mgnb_list>li.active {
  color: #232323;
}

#header .mgnb_list .mgnb_depth2 li a {
  font-family: var(--subtxt-font);
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.5s;
}

#header .mgnb_list .mgnb_depth2 li:hover a {
  color: var(--main-color);
}

#header .mgnb_list .fr li a {
  font-family: var(--main-font);
}

@media(max-width:1200px) {
  #header nav {
    display: none;
  }

  #header .util {
    display: none;
  }

  #header .mgnb {
    display: block;
  }
}

@media(max-width:768px) {
  #header {
    padding: 0;
  }

  #header .inner {
    display: block;
    position: relative;
  }

  #header h1 {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  #header h1 img {
    width: 54px;
  }

  #header .mgnb {
    position: absolute;
    top: 15px;
    right: 0;
    padding-right: 16px;
  }

  #header .mgnb .btn_cart {
    width: 24px;
    height: 24px;
  }

  #header .mgnb .btn_ham {
    width: 16px;
    height: 14px;
  }
}




/*white_wine*/
/*white_wine*/
/*white_wine*/
/*white_wine*/
#white_wine .inner {
  position: relative;
  display: flex;
  padding-top: 245px;
  gap: 100px;
}

#white_wine .wine_left {
  display: flex;
  justify-content: space-between;
  width: calc((100% - 50px) / 2);
}

#white_wine .wine_img li:nth-child(1) {
  width: 511px;
}

#white_wine .wine_img li:nth-child(1) img {
  width: 100%;
}

#white_wine .wine_img li:nth-child(2) {
  position: absolute;
  top: 245px;
  left: 210px;
}


#white_wine .wine_left .wine_s_img li {
  width: 150px;
  height: 100px;
  margin-bottom: 16px;
}

#white_wine .wine_left .wine_s_img li:nth-child(1) {
  background: url(../img/sub_04/s_img01.png) no-repeat center / 100%;
}

#white_wine .wine_left .wine_s_img li:nth-child(2) {
  background: url(../img/sub_04/s_img02.png) no-repeat center / 100%;
}

#white_wine .wine_left .wine_s_img li:nth-child(3) {
  background: url(../img/sub_04/s_img03.png) no-repeat center / 100%;
}

#white_wine .wine_left .wine_s_img li:nth-child(4) {
  background: url(../img/sub_04/s_img04.png) no-repeat center / 100%;
}

#white_wine .wine_right {
  width: calc((100% - 50px) / 2);

}

#white_wine .wine_right span {
  font-family: var(--more-font);
  font-size: 2.0rem;
  color: var(--main-color);
}

#white_wine .wine_right>h4 {
  padding: 5px 0 10px;
  font-family: var(--main-font);
  font-size: 3.0rem;
  font-weight: 600;
}

#white_wine .wine_right p {
  padding-bottom: 30px;
  font-family: var(--main-font);
  font-size: 1.8rem;
  font-weight: 400;
  word-break: keep-all;
}


#white_wine .wine_right h5 {
  padding: 20px 0 10px;
  font-size: 1.6rem;
  font-weight: 500;
}

#white_wine .wine_right .wine_option {
  padding: 10px;
  width: 50%;
  font-family: var(--main-font);
  font-size: 1.6rem;
  color: #ccc;
  background: url(../img/sub_04/arrow_down.png) no-repeat right 20px center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  appearance: none;
  /*화살표 없애기*/
}

#white_wine .wine_right .wine_case {
  padding: 10px;
  width: 50%;
  font-family: var(--main-font);
  font-size: 1.6rem;
  color: #ccc;
  background: url(../img/sub_04/arrow_down.png) no-repeat right 20px center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  appearance: none;
  /*화살표 없애기*/
}

#white_wine .wine_right select:focus {
  outline: none;
}

#white_wine .wine_right select option {
  color: #232323;
}

#white_wine .total_list {
  position: relative;
  margin-top: 50px;
  padding: 24px 0 20px;
  border-top: 1.5px solid #bebebe;
}


#white_wine .total_list ol {
  display: flex;
  gap: 60px;
}

#white_wine .total_list ol:nth-child(1) li:nth-child(1) {
  font-size: 2.0rem;
  font-weight: 500;
  color: var(--main-color);
}

#white_wine .total_list ol:nth-child(1) li:nth-child(2) {
  font-family: var(--main-font);
  font-size: 2.0rem;
  font-weight: 500;
}

#white_wine .total_list ol:nth-child(2) {
  padding: 16px 0 8px;
  gap: 65px;
}

#white_wine .total_list ol:nth-child(2) li:nth-child(1) {
  font-size: 1.6rem;
  color: #ccc;
}

#white_wine .total_list ol:nth-child(2) li:nth-child(2) {
  font-family: var(--main-font);
  font-size: 1.6rem;
  color: #ccc;
}

#white_wine .total_list ol:nth-child(3) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  gap: 85px;
  border-bottom: 1px solid #ccc;
}

#white_wine .total_list ol:nth-child(3) li:nth-child(1) {
  font-size: 1.6rem;
  color: #ccc;
}

#white_wine .total_list ol:nth-child(3) li:nth-child(2) {
  font-family: var(--main-font);
  font-size: 1.6rem;
  color: #ccc;
}

#white_wine .total_list i {
  position: absolute;
  bottom: 130px;
  right: 0;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 2.4rem;
  font-weight: 500;
}

#white_wine .btn_all {
  display: flex;
  margin-top: 100px;
  justify-content: right;
  gap: 12px;
}

#white_wine .btn_all .btn_buy {
  width: 180px;
  height: 58px;
  text-align: center;
  line-height: 58px;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
}

#white_wine .btn_all .btn_cartbox {
  width: 180px;
  height: 58px;
  text-align: center;
  line-height: 58px;
  color: var(--main-color);
  border: 1px solid #A73145;
  cursor: pointer;
}

@media (max-width:1350px) {
  #white_wine .wine_left .wine_s_img {
    display: none;
  }
}


@media (max-width:1200px) {
  #white_wine .inner {
    flex-wrap: wrap;
    padding-top: 100px;
    gap: 0;
  }

  #white_wine .wine_left {
    margin: 0 auto;
    justify-content: center;
    width: 100%;
  }

  #white_wine .wine_img li:nth-child(1) {
    width: 350px;
  }

  #white_wine .wine_img li:nth-child(1) img {
    width: 100%;
  }

  #white_wine .wine_img li:nth-child(2) {
    width: 74px;
  }

  #white_wine .wine_img li:nth-child(2) img {
    width: 100%;
  }


  #white_wine .wine_img li:nth-child(2) {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  #white_wine .wine_right {
    width: 100%;
  }

  #white_wine .wine_right .wine_option {
    width: 100%;
  }

  #white_wine .wine_right .wine_case {
    width: 100%;
  }
}

@media (max-width:768px) {
  #white_wine .total_list ol:nth-child(1) li:nth-child(2) {
    font-size: 1.6rem;
  }

  #white_wine .wine_right span {
    font-size: 2.0rem;
  }

  #white_wine .wine_right>h4 {
    padding: 5px 0 10px;
    font-size: 2.4rem;
    font-weight: 600;
  }

  #white_wine .wine_right p {
    padding-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 400;
  }

  #white_wine .btn_all .btn_buy {
    width: calc((100% - 12px) / 2);
    height: 58px;
    text-align: center;
    line-height: 58px;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
  }

  #white_wine .btn_all .btn_cartbox {
    width: calc((100% - 12px) / 2);
    height: 58px;
    text-align: center;
    line-height: 58px;
    color: var(--main-color);
    border: 1px solid #A73145;
    cursor: pointer;
  }
}





/*detail_page*/
/*detail_page*/
/*detail_page*/
/*detail_page*/
/*detail_page*/
#detail_page {
  margin-top: 100px;
}

#detail_page .detail_list {
  display: flex;
  text-align: center;
}

#detail_page .detail_list li {
  width: calc(100% / 3);
  height: 80px;
  font-family: var(--main-font);
  font-size: 1.8rem;
  line-height: 80px;
  cursor: pointer;
}

#detail_page .detail_list li.active {
  border: 1px solid #A73145;
  color: #A73145;
}

#detail_page .detail_img img {
  width: 100%;
}

@media (max-width:768px) {
  #detail_page .detail_list li {
    height: 50px;
    font-size: 1.4rem;
    line-height: 50px;
  }
}




/*small_recommand*/
/*small_recommand*/
/*small_recommand*/
/*small_recommand*/
/*small_recommand*/
#small_recommand {
  margin-bottom: 100px;
  text-align: center;
}

#small_recommand h2 {
  margin-top: 100px;
  margin-bottom: 60px;
  font-family: var(--subtxt-font);
  font-weight: 400;
  font-size: 5.0rem;
}


#small_recommand .small_recommand_txt span {
  display: block;
  margin-top: 40px;
  font-family: var(--more-font);
  font-size: 1.6rem;
  color: var(--main-color);
}

#small_recommand .small_recommand_txt p {
  padding: 5px 0 10px;
  font-family: var(--main-font);
  font-size: 2.0rem;
  font-weight: 500;
}

#small_recommand .small_recommand_txt b {
  font-family: var(--main-font);
  font-size: 1.8rem;
  font-weight: 400;
}

@media (max-width:1200px) {
  #small_recommand h2 {
    margin-top: 60px;
    margin-bottom: 45px;
  }
}


@media (max-width:768px) {
  #small_recommand h2 {
    margin-top: 46px;
    font-size: 3.0rem;
  }

  #small_recommand .small_recommand_txt span {
    font-size: 1.2rem;
  }

  #small_recommand .small_recommand_txt p {
    font-size: 1.4rem;
  }

  #small_recommand .small_recommand_txt b {
    font-size: 1.6rem;
    font-weight: 500;
  }
}








/*footer*/
/*footer*/
/*footer*/
/*footer*/
#footer {
  position: relative;
}

#footer .inner {
  max-width: 100%;
  background: #000;
}

#footer .footer_top {
  max-width: 1540px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px 0px;
  justify-content: space-between;
  align-items: center;

}

#footer .footer_top ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#footer .footer_top ul li a {
  color: #fff;
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: 300;
}

#footer .footer_top ol {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#footer .footer_bottom {
  padding-bottom: 40px;
  text-align: center;
}

#footer .footer_bottom h1 a {
  display: block;
  padding: 40px 0 30px 0;
}

#footer .footer_bottom p {
  font-family: var(--main-font);
  font-size: 1.4rem;
  color: #9f9f9f;
}

#footer .footer_bottom address {
  font-style: normal;
  font-family: var(--main-font);
  font-size: 1.4rem;
  color: #9f9f9f;
}

#footer .footer_bottom span {
  font-family: var(--main-font);
  font-size: 1.4rem;
  color: #9f9f9f;
}

#footer .footer_bottom span+p {
  padding: 20px 0 40px 0;
}

#footer .go_top {
  position: fixed;
  bottom: 20px;
  right: 60px;
  width: 55px;
  height: 106px;
  background: url(../img/common/ico_gotop.png) center / cover;
  z-index: 99;
  cursor: pointer;
  opacity: 0;
  transition: 0.7s ease;
}

#footer .go_top.on {
  opacity: 1;
}

@media(max-width:1200px) {
  #footer .go_top {
    right: 30px;
    width: 40px;
    height: 80px;
  }

  #footer .footer_bottom p {
    font-size: 1.2rem;
  }

  #footer .footer_bottom address {
    font-size: 1.2rem;
  }

  #footer .footer_bottom .first_line span:nth-of-type(1) {
    display: block;
  }

  #footer .footer_bottom span {
    font-size: 1.2rem;
  }
}

@media(max-width:1112px) {
  #footer .footer_top ol {
    padding: 20px 0 0 0;
  }
}

@media(max-width:768px) {
  #footer .go_top {
    bottom: 10px;
    right: 20px;
    width: 30px;
    height: 60px;
  }

  #footer .footer_bottom {
    padding-bottom: 30px;
  }

  #footer .footer_bottom p {
    font-size: 1.0rem;
  }

  #footer .footer_bottom address {
    font-size: 1.0rem;
  }


  #footer .footer_bottom span {
    font-size: 1.0rem;
  }
}